<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="car" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Car" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="spid" property="spid" jdbcType="INTEGER" />
    <result column="cnumber" property="cnumber" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="cbuyDay" property="cbuyday" jdbcType="DATE" />
    <result column="crunNum" property="crunnum" jdbcType="VARCHAR" />
    <result column="cvolume" property="cvolume" jdbcType="DOUBLE" />
    <result column="cton" property="cton" jdbcType="DOUBLE" />
    <result column="cstatus" property="cstatus" jdbcType="INTEGER" />
    <result column="cisBox" property="cisbox" jdbcType="INTEGER" />
    <result column="cremake" property="cremake" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, spid, cnumber, ctype, cbuyDay, crunNum, cvolume, cton, cstatus, cisBox, cremake, 
    remark1, remark2, remark3, remark4, remark5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.bean.Car" >
    insert into car (cid, spid, cnumber, 
      ctype, cbuyDay, crunNum, 
      cvolume, cton, cstatus, 
      cisBox, cremake, remark1, 
      remark2, remark3, remark4, 
      remark5)
    values (#{cid,jdbcType=INTEGER}, #{spid,jdbcType=INTEGER}, #{cnumber,jdbcType=VARCHAR}, 
      #{ctype,jdbcType=VARCHAR}, #{cbuyday,jdbcType=DATE}, #{crunnum,jdbcType=VARCHAR}, 
      #{cvolume,jdbcType=DOUBLE}, #{cton,jdbcType=DOUBLE}, #{cstatus,jdbcType=INTEGER}, 
      #{cisbox,jdbcType=INTEGER}, #{cremake,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, 
      #{remark5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="spid != null" >
        spid,
      </if>
      <if test="cnumber != null" >
        cnumber,
      </if>
      <if test="ctype != null" >
        ctype,
      </if>
      <if test="cbuyday != null" >
        cbuyDay,
      </if>
      <if test="crunnum != null" >
        crunNum,
      </if>
      <if test="cvolume != null" >
        cvolume,
      </if>
      <if test="cton != null" >
        cton,
      </if>
      <if test="cstatus != null" >
        cstatus,
      </if>
      <if test="cisbox != null" >
        cisBox,
      </if>
      <if test="cremake != null" >
        cremake,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="spid != null" >
        #{spid,jdbcType=INTEGER},
      </if>
      <if test="cnumber != null" >
        #{cnumber,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="cbuyday != null" >
        #{cbuyday,jdbcType=DATE},
      </if>
      <if test="crunnum != null" >
        #{crunnum,jdbcType=VARCHAR},
      </if>
      <if test="cvolume != null" >
        #{cvolume,jdbcType=DOUBLE},
      </if>
      <if test="cton != null" >
        #{cton,jdbcType=DOUBLE},
      </if>
      <if test="cstatus != null" >
        #{cstatus,jdbcType=INTEGER},
      </if>
      <if test="cisbox != null" >
        #{cisbox,jdbcType=INTEGER},
      </if>
      <if test="cremake != null" >
        #{cremake,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Car" >
    update car
    <set >
      <if test="spid != null" >
        spid = #{spid,jdbcType=INTEGER},
      </if>
      <if test="cnumber != null" >
        cnumber = #{cnumber,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        ctype = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="cbuyday != null" >
        cbuyDay = #{cbuyday,jdbcType=DATE},
      </if>
      <if test="crunnum != null" >
        crunNum = #{crunnum,jdbcType=VARCHAR},
      </if>
      <if test="cvolume != null" >
        cvolume = #{cvolume,jdbcType=DOUBLE},
      </if>
      <if test="cton != null" >
        cton = #{cton,jdbcType=DOUBLE},
      </if>
      <if test="cstatus != null" >
        cstatus = #{cstatus,jdbcType=INTEGER},
      </if>
      <if test="cisbox != null" >
        cisBox = #{cisbox,jdbcType=INTEGER},
      </if>
      <if test="cremake != null" >
        cremake = #{cremake,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Car" >
    update car
    set spid = #{spid,jdbcType=INTEGER},
      cnumber = #{cnumber,jdbcType=VARCHAR},
      ctype = #{ctype,jdbcType=VARCHAR},
      cbuyDay = #{cbuyday,jdbcType=DATE},
      crunNum = #{crunnum,jdbcType=VARCHAR},
      cvolume = #{cvolume,jdbcType=DOUBLE},
      cton = #{cton,jdbcType=DOUBLE},
      cstatus = #{cstatus,jdbcType=INTEGER},
      cisBox = #{cisbox,jdbcType=INTEGER},
      cremake = #{cremake,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>