<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.CarMapper" >
<!-- 使用二级缓存 -->
 	<cache
 		eviction="FIFO"
 		flushInterval="60000"
 		size="512"
 		readOnly="true" />
  <!-- 车子的整个元素   -->
  <resultMap id="carMap" type="Car" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cnumber" property="cnumber" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="cbuyDay" property="cbuyday" jdbcType="DATE" />
    <result column="crunNum" property="crunnum" jdbcType="VARCHAR" />
    <result column="cvolume" property="cvolume" jdbcType="DOUBLE" />
    <result column="cton" property="cton" jdbcType="DOUBLE" />
    <result column="cstatus" property="cstatus" jdbcType="INTEGER" />
    <result column="cisBox" property="cisbox" jdbcType="INTEGER" />
    <result column="cremake" property="cremake" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <!--  他所属公司的元素  没有包括公司的备注   和5个备份 -->
    <association property="shipPoint" resultMap="selectShippoint"></association>
  </resultMap>
  <resultMap type="Shippoint" id="selectShippoint">
  		<id property="spid" column="spid"/>
    	<result property="spname" column="spname"></result>
    	<result property="spperson" column="spperson"></result>
    	<result property="sptel" column="sptel"></result>
    	<result property="spemail" column="spemail"></result>
    	<result property="spaddress" column="spaddress"></result>
    	<result property="sptype" column="sptype"></result>
    	<result property="sppersontel" column="sppersontel"></result>
    	<result property="spfax" column="spfax"></result>
    	<result property="sparea" column="sparea"></result>
  </resultMap>
  <!-- 获得这个车子的全部信息 以及它所属公司的信息      没有包括这两个表的备份 -->
  <select id="getCarInfo" resultMap="carMap">
  	select cid,car.spid,cnumber,ctype,cbuyday,crunnum,cvolume,cton,cstatus,cisbox,cremake,
  			shipPoint.spid,spname,spperson,sptel,spemail,spaddress,sptype,sppersontel,spfax,sparea
  	from car
  	left join shipPoint
  	on 	car.spid=shipPoint.spid
  	where car.remark5=1 and shipPoint.spid=1
  		<if test="cid!=null and cid!=''">
  			and cid=#{cid}
  		</if>
  		<if test="shipPoint.spname!=null and shipPoint.spname!=''">
  			and spname like '%${shipPoint.spname}'
  		</if>
  		<if test="ctype!=null and ctype!=''">
  			and ctype like '%${ctype}'
  		</if>
  		<if test="mincvolume!=null and mincvolume!='' and maxcvolume=!'' and maxcvolume!=null">
  			and cvolume between ${mincvolume} and ${maxcvolume}
  		</if>
  		<if test="mincton!=null and mincton!='' and maxcton=!'' and maxcton!=null">
  			and cton between ${mincton} and ${maxcton}
  		</if>
  		<if test="cstatus!=null and cstatus!=''">
  			and cstatus=#{cstatus}
  		</if>
  		<if test="cisbox!=null and cisbox!=''">
  			and cisbox=#{cisbox}
  		</if>
  </select>
  
  <!-- 添加车子的信息 -->
  <insert id="addCar" parameterType="Car" useGeneratedKeys="true" 
 		keyColumn="cid" keyProperty="cid">
 		insert into car(
 			spid,cnumber,ctype,cbuyday,crunnum,cvolume,cton,cstatus,cisbox,cremake,remark5
 		) values(#{shipPoint.spid},#{cnumber},#{ctype},#{cbuyday},#{crunnum},#{cvolume},#{cton},0,#{cisbox},#{cremake},1)
  </insert>
  <!--   修改整个车子的信息   （全部的信息） -->
  <update id="updateCarInfo" parameterType="Car">
  	update car set spid=#{shipPoint.spid},cnumber=#{cumber},ctype=#{ctype},cbuyday=#{cbuyday},crunnum=#{crunnum},cvolume=#{cvolume},cton=#{cton},cstatus=#{cstatus},cisbox=#{cisbox},cremake=#{remake}
  	where cid=#{cid}
  </update>  
  <!-- 修改这个车子的状态  主要是这个车子是否为空闲的或者为在途中 -->
  <update id="updateCarStatus" parameterType="Car">
  	update car set cstatus=#{cstatus} where cid=#{cid}
  </update>
  <!-- 删除车子 -->
  <update id="delCar" parameterType="Car">
  	update car set remark5=0 where cid=#{cid}
  </update>
  
  <!-- 批量删除多辆车子 -->
  <update id="delmanyCar" parameterType="java.util.List">
  	update car set remark5=0 where cid in
  	<foreach collection="list" index="index"  item="item"  open="("  close=")" separator=",">
  	#{item}
  	</foreach>
  </update>
</mapper>