<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="driver" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Driver" >
    <id column="did" property="did" jdbcType="INTEGER" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="dnumber" property="dnumber" jdbcType="VARCHAR" />
    <result column="dphone" property="dphone" jdbcType="VARCHAR" />
    <result column="didCard" property="didcard" jdbcType="VARCHAR" />
    <result column="ddage" property="ddage" jdbcType="INTEGER" />
    <result column="dstatus" property="dstatus" jdbcType="INTEGER" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
    <association property="shipPoint" javaType="Shippoint" resultMap="ShippointMap" />
  </resultMap>
  
  <resultMap id="ShippointMap" type="com.yc.bean.Shippoint" >
    <id property="spid" column="spid"/>
    	<result property="spname" column="spname"></result>
    	<result property="spperson" column="spperson"></result>
    	<result property="sptel" column="sptel"></result>
    	<result property="spemail" column="spemail"></result>
    	<result property="spaddress" column="spaddress"></result>
    	<result property="sptype" column="sptype"></result>
    	<result property="sppersontel" column="sppersontel"></result>
    	<result property="spfax" column="spfax"></result>
    	<result property="sparea" column="sparea"></result>
  </resultMap>
  
  
  
  <!-- 需要查询到的字段 -->
  <sql id="Base_Column_List" >
    did,driver.spid, dname, dnumber, dphone, didCard, ddage, dstatus, driver.remark1, driver.remark2, driver.remark3, 
    driver.remark4, driver.remark5,shipPoint.spid,spname,spperson,sptel,spemail,spaddress,sptype,sppersontel,spfax,sparea
  </sql>
  
  <!-- 分页查询     remark1:表示pageNo  remark2:表示pageSize   因为remake1和ramark2是字符串所以要把它们转为整形 -->
   <sql id="pageSql">
 		<if test="pageNo!=null and pageSize!=null">
 			limit #{pageNo},#{pageSize}
 		</if>
 	</sql>
  
  <!-- 带条件，带分页的查询  -->
 <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yc.bean.Driver" >
    select 
    <include refid="Base_Column_List" />
    from driver left join shipPoint
  	on 	driver.spid=shipPoint.spid
    	<where>
    		 driver.remark5=1 and shipPoint.remark5=1
    		<if test="did!=null and did!=''">
    			and did=#{did}
    		</if>
    		<if test="shipPoint.spid!=null and shipPoint.spid!=''">
  				and shipPoint.spid=#{shipPoint.spid}
  			</if>
    		<if test="dname!=null and dname!=''">
    		    and	dname like CONCAT('%',#{dname},'%' )
    		</if>
    		<if test="dstatus!=null or dstatus==0">
    			and dstatus=#{dstatus}
    		</if>
    	</where>
    	<include refid="pageSql" />
  </select>
  
  <!-- 带条件,不带分页的查询 -->
  <select id="selectDriverNoCondition" resultMap="BaseResultMap">
  	select * from driver left join shipPoint
  	on 	driver.spid=shipPoint.spid
  		<where>
  			 driver.remark5=1 and shipPoint.remark5=1
  			<if test="did!=null and did!=''">
    			and did=#{did}
    		</if>
    		<if test="shipPoint.spid!=null and shipPoint.spid!=''">
  				and shipPoint.spid=#{shipPoint.spid}
  			</if>
    		<if test="dname!=null and dname!=''">
    			and dname like CONCAT('%',#{dname},'%' )
    		</if>
    		<if test="dstatus!=null or dstatus==0">
    			and dstatus=#{dstatus}
    		</if>
    	</where>
  </select>
  
  <!-- 删除价格信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    update driver set remark5=0
    where did in
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
    	#{item}
    </foreach>
  </delete>
  
  <!-- 添加司机信息 -->
 <insert id="insertSelective" parameterType="com.yc.bean.Driver" >
    insert into driver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="shipPoint.spid!=null and shipPoint.spid!=''" >
        spid,
      </if>
      <if test="dname != null" >
        dname,
      </if>
      <if test="dnumber != null" >
        dnumber,
      </if>
      <if test="dphone != null" >
        dphone,
      </if>
      <if test="didcard != null" >
        didCard,
      </if>
      <if test="ddage != null" >
        ddage,
      </if>
      <if test="dstatus != null" >
        dstatus,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
        remark5,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
       <if test="shipPoint.spid!=null and shipPoint.spid!=''" >
        #{shipPoint.spid},
      </if>
      <if test="dname != null" >
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dnumber != null" >
        #{dnumber,jdbcType=VARCHAR},
      </if>
      <if test="dphone != null" >
        #{dphone,jdbcType=VARCHAR},
      </if>
      <if test="didcard != null" >
        #{didcard,jdbcType=VARCHAR},
      </if>
      <if test="ddage != null" >
        #{ddage,jdbcType=INTEGER},
      </if>
      <if test="dstatus != null" >
        #{dstatus,jdbcType=INTEGER},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
        '1'
    </trim>
  </insert>
  
  <!-- 修改司机信息 -->
 <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Driver" >
    update driver
    <set >
      <if test="dname != null and dname!=''" >
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="shipPoint.spid!=null and shipPoint.spid!=''">
  		spid=#{shipPoint.spid},
  	  </if>
      <if test="dnumber != null" >
        dnumber = #{dnumber,jdbcType=VARCHAR},
      </if>
      <if test="dphone != null" >
        dphone = #{dphone,jdbcType=VARCHAR},
      </if>
      <if test="didcard != null" >
        didCard = #{didcard,jdbcType=VARCHAR},
      </if>
      <if test="ddage != null" >
        ddage = #{ddage,jdbcType=INTEGER},
      </if>
      <if test="dstatus != null" >
        dstatus = #{dstatus,jdbcType=INTEGER},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER} and remark5=1
  </update>
  
</mapper>