<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="driver" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Driver" >
    <id column="did" property="did" jdbcType="INTEGER" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="dnumber" property="dnumber" jdbcType="VARCHAR" />
    <result column="dphone" property="dphone" jdbcType="VARCHAR" />
    <result column="didCard" property="didcard" jdbcType="VARCHAR" />
    <result column="ddage" property="ddage" jdbcType="INTEGER" />
    <result column="dstatus" property="dstatus" jdbcType="INTEGER" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    did, dname, dnumber, dphone, didCard, ddage, dstatus, remark1, remark2, remark3, 
    remark4, remark5
  </sql>
  
  <sql id="pageSql">
 		<if test="did!=null and ddage!=null">
 			limit #{did},#{ddage}
 		</if>
 	</sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yc.bean.Driver" >
    select 
    <include refid="Base_Column_List" />
    from driver
    	<where>
    		<if test="dname!=null and dname!=''">
    			dname like CONCAT('%',#{dname},'%' )
    		</if>
    		<if test="dphone!=null and dphone!=''">
    			dphone like CONCAT('%',#{dphone},'%')
    		</if>
    		<if test="dstatus!=null and dstatus!=''">
    			dstatus=#{dstatus}
    		</if>
    	</where>
    	<include refid="pageSql" />
  </select>
  
  <select id="selectDriverNoCondition" resultMap="BaseResultMap">
  	select * from driver
  		<where>
    		<if test="dname!=null and dname!=''">
    			dname like CONCAT('%',#{dname},'%' )
    		</if>
    		<if test="dphone!=null and dphone!=''">
    			dphone like CONCAT('%',#{dphone},'%')
    		</if>
    		<if test="dstatus!=null and dstatus!=''">
    			dstatus=#{dstatus}
    		</if>
    	</where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    delete from driver
    where did in
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
    	#{item}
    </foreach>
  </delete>
  
  <insert id="insert" parameterType="com.yc.bean.Driver" >
    insert into driver (did, dname, 
      dnumber, dphone, didCard, 
      ddage, dstatus, remark1, 
      remark2, remark3, remark4, 
      remark5)
    values (#{did,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, 
      #{dnumber,jdbcType=VARCHAR}, #{dphone,jdbcType=VARCHAR}, #{didcard,jdbcType=VARCHAR}, 
      #{ddage,jdbcType=INTEGER}, #{dstatus,jdbcType=INTEGER},'备用', 
      '备用', '备用', '备用', 
      '备用')
  </insert>
  
  <insert id="insertSelective" parameterType="com.yc.bean.Driver" >
    insert into driver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="dname != null" >
        dname,
      </if>
      <if test="dnumber != null" >
        dnumber,
      </if>
      <if test="dphone != null" >
        dphone,
      </if>
      <if test="didcard != null" >
        didCard,
      </if>
      <if test="ddage != null" >
        ddage,
      </if>
      <if test="dstatus != null" >
        dstatus,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="dname != null" >
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dnumber != null" >
        #{dnumber,jdbcType=VARCHAR},
      </if>
      <if test="dphone != null" >
        #{dphone,jdbcType=VARCHAR},
      </if>
      <if test="didcard != null" >
        #{didcard,jdbcType=VARCHAR},
      </if>
      <if test="ddage != null" >
        #{ddage,jdbcType=INTEGER},
      </if>
      <if test="dstatus != null" >
        #{dstatus,jdbcType=INTEGER},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Driver" >
    update driver
    <set >
      <if test="dname != null" >
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dnumber != null" >
        dnumber = #{dnumber,jdbcType=VARCHAR},
      </if>
      <if test="dphone != null" >
        dphone = #{dphone,jdbcType=VARCHAR},
      </if>
      <if test="didcard != null" >
        didCard = #{didcard,jdbcType=VARCHAR},
      </if>
      <if test="ddage != null" >
        ddage = #{ddage,jdbcType=INTEGER},
      </if>
      <if test="dstatus != null" >
        dstatus = #{dstatus,jdbcType=INTEGER},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Driver" >
    update driver
    set 
      dname = #{dname,jdbcType=VARCHAR},
      dnumber = #{dnumber,jdbcType=VARCHAR},
      dphone = #{dphone,jdbcType=VARCHAR},
      didCard = #{didcard,jdbcType=VARCHAR},
      ddage = #{ddage,jdbcType=INTEGER},
      dstatus = #{dstatus,jdbcType=INTEGER},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>