<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="goods" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Goods" >
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="gcount" property="gcount" jdbcType="VARCHAR" />
    <result column="gprice" property="gprice" jdbcType="DOUBLE" />
    <result column="gweight" property="gweight" jdbcType="DOUBLE" />
    <result column="gvolume" property="gvolume" jdbcType="DOUBLE" />
    <result column="gtype" property="gtype" jdbcType="VARCHAR" />
    <result column="gremark" property="gremark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 分页查询    pageNo:表示pageNo  pageSize:表示pageSize   因为pageSize和pageSize是字符串所以要把它们转为整形 -->
   <sql id="pageSql">
 		<if test="pageNo!=null and pageSize!=null">
 			limit #{pageNo},#{pageSize}
 		</if>
 	</sql>
  <sql id="Base_Column_List" >
    gid, gname, gcount, gprice, gweight, gvolume, gtype, gremark, remark1, remark2, remark3, 
    remark4, remark5
  </sql>
  <!--带条件 带分页 查询 -->
  <select id="selectPage" resultMap="BaseResultMap" parameterType="Goods" >
    select 
    gid,gname, gcount, gprice, gweight, gvolume, gtype, gremark,remark5
    from goods
    <where>
    	<if test="gid!=null and gid!=''">
    		gid=#{gid}
    	</if>
    	<if test="gname!=null and gname!=''">
    		and gname=%${gname}%
    	</if>
    	<if test="gcount!=null and gcount!=''">
    		and gcount=#{gcount}
    	</if>
    	<if test="mingprice!=null and minsprice!='' and maxgprice=null and maxsprice!=''">
    		and gprice between ${minsprice} and ${maxsprice}
    	</if>
    	<if test="mingweight!=null and mingweight!='' and maxgweight!=null and maxsprice!=''">
    		and gweight between ${minsprice} and ${maxsprice}
    	</if>
    	<if test="mingvolume!=null and mingvolume!='' and maxgvolume!=null and maxgvolum!=''">
    		and gvolume between ${mingvolume} and ${maxgvolume}
    	</if>
    	<if test="gtype!=null and gtype!=''">
    		and gtype=#{gtype}
    	</if>
    </where>
    <include refid="pageSql" />
  </select>
  
    <select id="select" resultMap="BaseResultMap" parameterType="Goods" >
    select 
    gid,gname, gcount, gprice, gweight, gvolume, gtype, gremark
    from goods
    <where>
    	<if test="gid!=null and gid!=''">
    		gid=#{gid}
    	</if>
    	<if test="gname!=null and gname!=''">
    		and gname=%${gname}%
    	</if>
    	<if test="gcount!=null and gcount!=''">
    		and gcount=#{gcount}
    	</if>
    	<if test="mingprice!=null and minsprice!='' and maxgprice=null and maxsprice!=''">
    		and gprice between ${minsprice} and ${maxsprice}
    	</if>
    	<if test="mingweight!=null and mingweight!='' and maxgweight!=null and maxsprice!=''">
    		and gweight between ${minsprice} and ${maxsprice}
    	</if>
    	<if test="mingvolume!=null and mingvolume!='' and maxgvolume!=null and maxgvolum!=''">
    		and gvolume between ${mingvolume} and ${maxgvolume}
    	</if>
    	<if test="gtype!=null and gtype!=''">
    		and gtype=#{gtype}
    	</if>
    </where>
    <include refid="pageSql" />
  </select>
  
  <!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="Goods" >
    delete from goods
    where gid = #{gid}
  </delete>
  <!-- 添加货物 -->
  <insert id="insert"  parameterType="Goods" useGeneratedKeys="true" 
 		keyColumn="gid" keyProperty="gid" >
    insert into goods ( gname, gcount, 
      gprice, gweight, gvolume, 
      gtype, gremark,remark5)
    values ( #{gname}, #{gcount}, 
      #{gprice}, #{gweight}, #{gvolume}, #{gtype}, 
      #{gremark},1)
  </insert>
  
 <!-- 修改货物 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Goods" >
    update goods
    <set >
      <if test="gname != null" >
        gname = #{gname},
      </if>
      <if test="gcount != null" >
        gcount = #{gcount},
      </if>
      <if test="gprice != null" >
        gprice = #{gprice},
      </if>
      <if test="gweight != null" >
        gweight = #{gweight},
      </if>
      <if test="gvolume != null" >
        gvolume = #{gvolume},
      </if>
      <if test="gtype != null" >
        gtype = #{gtype},
      </if>
      <if test="gremark != null" >
        gremark = #{gremark},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5},
      </if>
      
    </set>
    where gid = #{gid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Goods" >
    update goods
    set gname = #{gname,jdbcType=VARCHAR},
      gcount = #{gcount,jdbcType=VARCHAR},
      gprice = #{gprice,jdbcType=DOUBLE},
      gweight = #{gweight,jdbcType=DOUBLE},
      gvolume = #{gvolume,jdbcType=DOUBLE},
      gtype = #{gtype,jdbcType=VARCHAR},
      gremark = #{gremark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>