<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.HandoverMapper" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Handover" >
    <id column="hid" property="hid" jdbcType="INTEGER" />
    <result column="hfromSpname" property="hfromspname" jdbcType="VARCHAR" />
    <result column="htoSpname" property="htospname" jdbcType="VARCHAR" />
    <result column="hstartTime" property="hstarttime" jdbcType="DATE" />
    <result column="hendTime" property="hendtime" jdbcType="DATE" />
    <result column="hstatus" property="hstatus" jdbcType="INTEGER" />
    <result column="hremark" property="hremark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
 	<!-- 交接单对车子的关联 -->
 	<association property="car" resultMap="selectcar"></association>
 	<!-- 交接单对司机的关联 -->
 	<association property="driver" resultMap="selectdriver"></association>
  	<!-- 交接单对订单的关联 -->
  	<association property="order1" resultMap="selectorder1"></association>
  	<!-- 交接单对路线的关联 -->
  	<association property="route" resultMap="selectroute"></association>
  </resultMap>
  <resultMap type="Car" id="selectcar">
  	<id property="cid" column="cid"></id>
  	<result column="cnumber" property="cnumber" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="cbuyDay" property="cbuyday" jdbcType="DATE" />
    <result column="crunNum" property="crunnum" jdbcType="VARCHAR" />
    <result column="cvolume" property="cvolume" jdbcType="DOUBLE" />
    <result column="cton" property="cton" jdbcType="DOUBLE" />
    <result column="cstatus" property="cstatus" jdbcType="INTEGER" />
    <result column="cisBox" property="cisbox" jdbcType="INTEGER" />
    <result column="cremake" property="cremake" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="Driver" id="selectdriver">
  	<id column="did" property="did" jdbcType="INTEGER" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="dnumber" property="dnumber" jdbcType="VARCHAR" />
    <result column="dphone" property="dphone" jdbcType="VARCHAR" />
    <result column="didCard" property="didcard" jdbcType="VARCHAR" />
    <result column="ddage" property="ddage" jdbcType="INTEGER" />
    <result column="dstatus" property="dstatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap type="Order1" id="selectorder1">
  	<id column="osid" property="osid" jdbcType="INTEGER" />
    <result column="osendName" property="osendname" jdbcType="VARCHAR" />
    <result column="osendTel" property="osendtel" jdbcType="VARCHAR" />
    <result column="osendAddress" property="osendaddress" jdbcType="VARCHAR" />
    <result column="orecName" property="orecname" jdbcType="VARCHAR" />
    <result column="orecTel" property="orectel" jdbcType="VARCHAR" />
    <result column="orecAddress" property="orecaddress" jdbcType="VARCHAR" />
    <result column="orecCode" property="oreccode" jdbcType="VARCHAR" />
    <result column="orecPhone" property="orecphone" jdbcType="VARCHAR" />
    <result column="otime" property="otime" jdbcType="DATE" />
    <result column="oprice" property="oprice" jdbcType="DOUBLE" />
    <result column="oinsurePrice" property="oinsureprice" jdbcType="DOUBLE" />
    <result column="otype" property="otype" jdbcType="INTEGER" />
    <result column="ostatus" property="ostatus" jdbcType="INTEGER" />
    <result column="ostartTime" property="ostarttime" jdbcType="DATE" />
    <result column="oendTime" property="oendtime" jdbcType="DATE" />
    <result column="orecSpname" property="orecspname" jdbcType="VARCHAR" />
    <result column="oremark" property="oremark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="Route" id="selectroute">
  	<id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="rvia" property="rvia" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hid, cid, did, osid, rid, hfromSpname, htoSpname, hstartTime, hendTime, hstatus, 
    hremark, remark1, remark2, remark3, remark4, remark5
  </sql>
  <!-- 查询交接单所有数据  其中包括 车辆编号  司机姓名  订单编号   路线名称 -->
  <select id="selectHandorderInfo" resultMap="BaseResultMap" >
  	select h.*,c.cnumber,d.dname,o.osid,r.rname 
  	from handover h,car c,driver d,order1 o,route r
  	 WHERE h.cid=c.cid AND h.did=d.did and h.osid=o.osid and h.rid=r.rid
  	 and h.remark5=1 and c.remark5=1 and d.remark5=1 and o.remark5=1 and r.remark5=1
  	<if test="hid!=null and hid!=''">
  		and hid=#{hid}
  	</if>
  	<if test="hfromspname!=null and hfromspname!=''">
  		and hfromspname like CONCAT('%',#{hfromspname},'%' )
  	</if>
  	<if test="htospname!=null and htospname!=''">
  		and htospname like CONCAT('%',#{htospname},'%' )
  	</if>
  	<if test="car.cnumber!=null and car.cnumber!=''">
  		and c.cnumber  like CONCAT('%',#{car.cnumber},'%' )
  	</if>
  	<if test="driver.dname!=null and driver.dname!=''">
  		and d.dname  like CONCAT('%',#{d.dname},'%' )
  	</if>
  	<if test="order1.osid!=null and order1.osid!=''">
  		and o.osid=#{order1.osid}
  	</if>
  	<if test="pageNo!=null and pageSize!=null">
  			limit #{pageNo},#{pageSize}
  	</if>
  </select>
  
  
  <select id="searchAllHandoverInfo" resultMap="BaseResultMap" parameterType="Handover">
      
      select h.hid,h.osid,h.hfromspname,h.htospname,h.hstarttime,d.dname,c.cnumber,r.rname,h.hendtime,h.hstatus
       from handover h left join  driver d 
      on h.did=d.did 
      left join car c 
       on h.cid=c.cid
      left join route r
       on h.rid=r.rid
      <where>
          <if test="hid!=null and hid!=''">
  				hid=#{hid}
  		  </if>
  		  <if test="hfromspname!=null and hfromspname!=''">
  		      and hfromSpname=#{hfromSpname}
  		  </if>
  		  <if test="htospname!=null and htospname!=''">
  		      and htoSpname=#{htoSpname}
  		  </if>
          <if test="hstarttimeString!=null and hstarttimeString!=''">
  		      and hstartTime=#{hstarttimeString}
  		  </if>
  		  <if test="hstatus!=null">
  		      and hstatus=#{hstatus}
  		  </if>
      </where>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from handover
    where hid = #{hid,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.yc.bean.Handover" >
    insert into handover (hid, cid, did, 
      osid, rid, hfromSpname, 
      htoSpname, hstartTime, hendTime, 
      hstatus, hremark, 
      remark5)
    values (#{hid,jdbcType=INTEGER}, #{car.cid,jdbcType=INTEGER}, #{driver.did,jdbcType=INTEGER}, 
      #{order1.osid,jdbcType=INTEGER}, #{route.rid,jdbcType=INTEGER}, #{hfromspname,jdbcType=VARCHAR}, 
      #{htospname,jdbcType=VARCHAR}, #{hstarttime,jdbcType=DATE}, #{hendtime,jdbcType=DATE}, 
      #{hstatus,jdbcType=INTEGER}, #{hremark,jdbcType=VARCHAR},
      1)
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.Handover" >
    insert into handover
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hid != null" >
        hid,
      </if>
      <if test="car.cid != null" >
        cid,
      </if>
      <if test="driver.did != null" >
        did,
      </if>
      <if test="order1.osid != null" >
        osid,
      </if>
      <if test="route.rid != null" >
        rid,
      </if>
      <if test="hfromspname != null" >
        hfromSpname,
      </if>
      <if test="htospname != null" >
        htoSpname,
      </if>
      <if test="hstarttime != null" >
        hstartTime,
      </if>
      <if test="hendtime != null" >
        hendTime,
      </if>
      <if test="hstatus != null" >
        hstatus,
      </if>
      <if test="hremark != null" >
        hremark,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
        remark5,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hid != null" >
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="car.cid != null" >
        #{car.cid,jdbcType=INTEGER},
      </if>
      <if test="driver.did != null" >
        #{driver.did,jdbcType=INTEGER},
      </if>
      <if test="order1.osid != null" >
        #{order1.osid,jdbcType=INTEGER},
      </if>
      <if test="route.rid != null" >
        #{route.rid,jdbcType=INTEGER},
      </if>
      <if test="hfromspname != null" >
        #{hfromspname,jdbcType=VARCHAR},
      </if>
      <if test="htospname != null" >
        #{htospname,jdbcType=VARCHAR},
      </if>
      <if test="hstarttime != null" >
        #{hstarttime,jdbcType=DATE},
      </if>
      <if test="hendtime != null" >
        #{hendtime,jdbcType=DATE},
      </if>
      <if test="hstatus != null" >
        #{hstatus,jdbcType=INTEGER},
      </if>
      <if test="hremark != null" >
        #{hremark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
        1
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Handover" >
    update handover
    <set >
      <if test="car.cid != null" >
        cid = #{car.cid,jdbcType=INTEGER},
      </if>
      <if test="driver.did != null" >
        did = #{driver.did,jdbcType=INTEGER},
      </if>
      <if test="order1.osid != null" >
        osid = #{order1.osid,jdbcType=INTEGER},
      </if>
      <if test="route.rid != null" >
        rid = #{route.rid,jdbcType=INTEGER},
      </if>
      <if test="hfromspname != null" >
        hfromSpname = #{hfromspname,jdbcType=VARCHAR},
      </if>
      <if test="htospname != null" >
        htoSpname = #{htospname,jdbcType=VARCHAR},
      </if>
      <if test="hstarttime != null" >
        hstartTime = #{hstarttime,jdbcType=DATE},
      </if>
      <if test="hendtime != null" >
        hendTime = #{hendtime,jdbcType=DATE},
      </if>
      <if test="hstatus != null" >
        hstatus = #{hstatus,jdbcType=INTEGER},
      </if>
      <if test="hremark != null" >
        hremark = #{hremark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
    </set>
    where hid = #{hid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Handover" >
    update handover
    set cid = #{car.cid,jdbcType=INTEGER},
      did = #{driver.did,jdbcType=INTEGER},
      osid = #{order1.osid,jdbcType=INTEGER},
      rid = #{route.rid,jdbcType=INTEGER},
      hfromSpname = #{hfromspname,jdbcType=VARCHAR},
      htoSpname = #{htospname,jdbcType=VARCHAR},
      hstartTime = #{hstarttime,jdbcType=DATE},
      hendTime = #{hendtime,jdbcType=DATE},
      hstatus = #{hstatus,jdbcType=INTEGER},
      hremark = #{hremark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR}
    where hid = #{hid,jdbcType=INTEGER}
  </update>
  <update id="delmanyHandover" parameterType="java.util.List">
  	update handover set remark5=0 where hid in
  	<foreach collection="list" index="index"  item="item"  open="("  close=")" separator=",">
  	#{item}
  	</foreach>
  </update>
</mapper>