<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="log" >
  
   <resultMap id="BaseResultMap" type="com.yc.bean.Log" >
    <id column="lid" property="lid" jdbcType="INTEGER" />
    <result column="lusid" property="lusid" jdbcType="INTEGER" />
    <result column="luname" property="luname" jdbcType="VARCHAR" />
    <result column="ldate" property="ldate" jdbcType="DATE" />
    <result column="lopreation" property="lopreation" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 需要查询到的字段 -->
  <sql id="Base_Column_List">
  		lid,lusid,luname,ldate,lopreation
  </sql>
  
  <!-- 分页查询 -->
  <sql id="pageSql">
  	<if test="pageNo!=null and pageSize!=null">
  		limit #{pageNo},#{pageSize}
  	</if>
  </sql>
  
  <select id="searchAllLog" resultMap="BaseResultMap" parameterType="com.yc.bean.Log">
  		select
  		<include refid="Base_Column_List" />
  		from log 
  		<include refid="pageSql" />	
  </select>
  
  <!-- 不带分页查询 -->
  <select id="searchAllLogNoCondition" resultMap="BaseResultMap">
  		select * from log
  </select>
  
  

  
</mapper>