<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderinfo" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Orderinfo" >
    <id column="oiid" property="oiid" jdbcType="INTEGER" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="gprice" property="gprice" jdbcType="DOUBLE" />
    <result column="gcount" property="gcount" jdbcType="INTEGER" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 批量添加订单详细表 -->
  <!-- remark1用来保存备注，remark2用来保存重量，remark3用来保存体积，remark5用来保存状态值 -->
  <insert id="insertPiLianOrderInfo" parameterType="com.yc.bean.Orderinfo">
		insert into orderinfo(osid,gname,gprice,gcount,remark1,remark2,remark3,remark4,remark5) values
		(#{order1.osid},#{gname},#{gprice},#{gcount},#{remark1},#{remark2},#{remark3},#{remark4},'1')
  </insert>
  
  <!-- 删除订单详细表 -->
  <delete id="deleteOrderInfo" parameterType="java.util.List" >
    update orderinfo set remark5=0
    where osid in
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
    	#{item}
    </foreach>
  </delete>
  
  <!-- 删除订单详细表 -->
  <delete id="deleteOrderInfoByOsid" parameterType="com.yc.bean.Orderinfo" >
    delete from orderinfo where osid=#{oiid}
  </delete>
  
</mapper>