<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="price" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Price" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pfrom" property="pfrom" jdbcType="VARCHAR" />
    <result column="pto" property="pto" jdbcType="VARCHAR" />
    <result column="pfirstwei" property="pfirstwei" jdbcType="DOUBLE" />
    <result column="prestwei" property="prestwei" jdbcType="DOUBLE" />
    <result column="pfirstvol" property="pfirstvol" jdbcType="DOUBLE" />
    <result column="prestvol" property="prestvol" jdbcType="DOUBLE" />
    <result column="pretime" property="pretime" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, pfrom, pto, pfirstwei, prestwei, pfirstvol, prestvol, pretime, remark1, remark2, 
    remark3, remark4, remark5
  </sql>
  
  <!-- 分页查询     remark1:表示pageNo  remark2:表示pageSize   因为remake1和ramark2是字符串所以要把它们转为整形 -->
   <sql id="pageSql">
 		<if test="pageNo!=null and pageSize!=null">
 			limit #{pageNo},#{pageSize}
 		</if>
 	</sql>
  
   <!-- 带条件，带分页的查询  -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yc.bean.Price" >
    select 
    pid, pfrom,pto,pfirstwei,prestwei,pfirstvol,prestvol,pretime,remark5
    from price
    <where>
    	remark5=1
    	<if test="pid!=null and pid!=''">
    		and pid=#{pid}
    	</if>
    	<if test="pfrom!=null and pfrom!=''">
    		and pfrom like CONCAT('%',#{pfrom},'%' )
    	</if>
    	<if test="pto!=null and pto!=''">
    		and pto like CONCAT('%',#{pto},'%' )
    	</if>
    </where>
    <include refid="pageSql" />
  </select>
  
  <!-- 带条件,不带分页的查询 -->
  <select id="selectNopage" resultMap="BaseResultMap" parameterType="com.yc.bean.Price" >
    select 
    pid, pfrom,pto,pfirstwei,prestwei,pfirstvol,prestvol,pretime,remark5
    from price
    <where>
    	remark5=1
    	<if test="pid!=null and pid!=''">
    		and pid=#{pid}
    	</if>
    	<if test="pfrom!=null and pfrom!=''">
    		and pfrom like CONCAT('%',#{pfrom},'%' )
    	</if>
    	<if test="pto!=null and pto!=''">
    		and pto like CONCAT('%',#{pto},'%' )
    	</if>
    </where>
  </select>
  
  
  
  <!-- 删除司机信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    update price set remark5=0
    where pid in
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
    	#{item}
    </foreach>
  </delete>
  
  <insert id="insert" parameterType="com.yc.bean.Price" >
    insert into price (pfrom, pto, 
      pfirstwei, prestwei, pfirstvol, 
      prestvol, pretime, remark5)
    values ( #{pfrom}, #{pto}, #{pfirstwei}, #{prestwei}, #{pfirstvol}, 
      #{prestvol}, #{pretime},1)
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Price" >
    update price
    <set >
      <if test="pfrom != null" >
        pfrom = #{pfrom},
      </if>
      <if test="pto != null" >
        pto = #{pto},
      </if>
      <if test="pfirstwei != null" >
        pfirstwei = #{pfirstwei},
      </if>
      <if test="prestwei != null" >
        prestwei = #{prestwei},
      </if>
      <if test="pfirstvol != null" >
        pfirstvol = #{pfirstvol},
      </if>
      <if test="prestvol != null" >
        prestvol = #{prestvol},
      </if>
      <if test="pretime != null" >
        pretime = #{pretime},
      </if>
    </set>
    where pid = #{pid} and remark5=1
  </update>
  
</mapper>