<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="proxy" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Proxy" >
    <id column="prid" property="prid" jdbcType="INTEGER" />
    <result column="prname" property="prname" jdbcType="VARCHAR" />
    <result column="prtime" property="prtime" jdbcType="VARCHAR" />
    <result column="prprice" property="prprice" jdbcType="DOUBLE" />
    <result column="prremark" property="prremark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
     <association property="shipPoint" javaType="Shippoint" resultMap="ShippointMap" />
  </resultMap>
  
  <resultMap id="ShippointMap" type="com.yc.bean.Shippoint" >
    <id property="spid" column="spid"/>
    	<result property="spname" column="spname"></result>
    	<result property="spperson" column="spperson"></result>
    	<result property="sptel" column="sptel"></result>
    	<result property="spemail" column="spemail"></result>
    	<result property="spaddress" column="spaddress"></result>
    	<result property="sptype" column="sptype"></result>
    	<result property="sppersontel" column="sppersontel"></result>
    	<result property="spfax" column="spfax"></result>
    	<result property="sparea" column="sparea"></result>
  </resultMap>
  <sql id="Base_Column_List" >
    prid, prname, prtime, prprice, proxy.spid, prremark, remark1, remark2, remark3, remark4, 
    remark5
  </sql>
  <!-- 分页查询 -->
  <sql id="pageSql">
 	<if test="pageNo!=null and pageSize!=null">
 		limit #{pageNo},#{pageSize}
 	</if>
  </sql>
  
  <!-- 不带分页查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yc.bean.Proxy" >
    select * from proxy left join shipPoint
    on proxy.spid=shipPoint.spid
    <where>
    	proxy.remark5=1 and shipPoint.remark5=1
    	<if test="prid!=null and prid!=''">
    		and prid=#{prid}
    	</if>
    	<if test="shipPoint.spid!=null and shipPoint.spid!=''">
  			and shipPoint.spid=#{shipPoint.spid}
  		</if>
  		<if test="prname!=null and prname!=''">
    		and	prname like CONCAT('%',#{prname},'%' )
    	</if>
    </where>
    
  </select>
  
    <!-- 带分页查询 -->
  <select id="selectByPrimaryKeyforPage" resultMap="BaseResultMap" parameterType="com.yc.bean.Proxy" >
    select * from proxy left join shipPoint
    on proxy.spid=shipPoint.spid
    <where>
    	proxy.remark5=1 and shipPoint.remark5=1
    	<if test="prid!=null and prid!=''">
    		and prid=#{prid}
    	</if>
    	<if test="shipPoint.spid!=null and shipPoint.spid!=''">
  			and shipPoint.spid=#{shipPoint.spid}
  		</if>
  		<if test="prname!=null and prname!=''">
    		and	prname like CONCAT('%',#{prname},'%' )
    	</if>
    </where>
    <include refid="pageSql" />
  </select>
  
  <!-- 删除（批量） -->
  <update id="deleteByPrimaryKey" parameterType="com.yc.bean.Proxy" >
     update proxy set remark5=0
    where prid in
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
    	#{item}
    </foreach>
  </update>
  
	<!-- 添加 -->
  <insert id="insertSelective" parameterType="com.yc.bean.Proxy" >
    insert into proxy(prname,prtime,prprice,spid,prremark,remark5) values
    (#{prname},#{prtime},#{prprice},#{shipPoint.spid},#{prremark},1)
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Proxy" >
    update proxy
    <set >
      <if test="prname != null" >
        prname = #{prname},
      </if>
      <if test="prtime != null" >
        prtime = #{prtime},
      </if>
      <if test="prprice != null" >
        prprice = #{prprice},
      </if>
      <if test="shipPoint.spid != null" >
        spid = #{shipPoint.spid},
      </if>
      <if test="prremark != null" >
        prremark = #{prremark},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5},
      </if>
    </set>
    where prid = #{prid}
  </update>
</mapper>