<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="route" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Route" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="rvia" property="rvia" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rid, rname, rvia, remark1, remark2, remark3, remark4, remark5
  </sql>
  
  <!-- 查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yc.bean.Route" >
    select 
    rname,rvia
    from route
   <where>
   <if test="rid!=null and rid!=''">
    		rid=#{rid}
    </if>
   	<if test="rname!=null and rname!=''">
   		and rname=%${rname}%
   	</if>
   </where>
  </select>
  
  <!-- 删除 修改状态 -->
  <update id="deleteByPrimaryKey" parameterType="com.yc.bean.Route" >
   update route set remark5=0 
    where rid = #{rid}
  </update>
  
  <!-- 添加 -->
  <insert id="insert" parameterType="com.yc.bean.Route" >
    insert into route (rid, rname, rvia,remark5)
    values (#{rid}, #{rname}, #{rvia},1)
  </insert>
 
 <!-- 修改 -->
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Route" >
    update route
    <set >
      <if test="rname != null" >
        rname = #{rname},
      </if>
      <if test="rvia != null" >
        rvia = #{rvia},
      </if>
    </set>
    where rid = #{rid} and remark5=1
  </update>
</mapper>