<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="route" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Route" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="rvia" property="rvia" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rid, rname, rvia, remark1, remark2, remark3, remark4, remark5
  </sql>
   <!-- 分页查询    pageNo:表示pageNo  pageSize:表示pageSize   因为pageSize和pageSize是字符串所以要把它们转为整形 -->
   <sql id="pageSql">
 		<if test="pageNo!=null and pageSize!=null">
 			limit #{pageNo},#{pageSize}
 		</if>
 	</sql>
  <!-- 查询 不带分页-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yc.bean.Route" >
    select 
    rid,rname,rvia,remark5
    from route
   	<where>
   		remark5=1
   	<if test="rid!=null and rid!=''">
    	and	rid=#{rid}
    </if>
   	<if test="rname!=null and rname!=''">
   		and rname like CONCAT('%',#{rname},'%' )
   	</if>
   	</where>
</select>
  
   <!-- 查询 带分页-->
  <select id="selectByPrimaryKeyforPage" resultMap="BaseResultMap" parameterType="com.yc.bean.Route" >
    select 
    rid,rname,rvia,remark5
    from route
   <where>
   		remark5=1
   <if test="rid!=null and rid!=''">
    	and	rid=#{rid}
    </if>
   	<if test="rname!=null and rname!=''">
   		and rname like CONCAT('%',#{rname},'%' )
   	</if>
   </where>
   <include refid="pageSql" />
  </select>
  
  <!-- 删除 修改状态 -->
  <update id="deleteByPrimaryKey" parameterType="com.yc.bean.Route" >
   update route set remark5=0 
    where rid in
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
    	#{item}
    </foreach>
  </update>
  
  <!-- 添加 -->
  <insert id="insert" parameterType="com.yc.bean.Route" useGeneratedKeys="true" keyProperty="rid" keyColumn="rid">
    insert into route (rname, rvia,remark5)
    values (#{rname}, #{rvia},1)
  </insert>
 
 <!-- 修改 -->
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Route" useGeneratedKeys="true" keyProperty="rid" keyColumn="rid">
    update route
    <set >
      <if test="rname != null" >
        rname = #{rname},
      </if>
      <if test="rvia != null" >
        rvia = #{rvia},
      </if>
    </set>
    where rid = #{rid} and remark5=1
  </update>
</mapper>