<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.ShippointMapper" >
	<cache
 		eviction="FIFO"
 		flushInterval="60000"
 		size="512"
 		readOnly="true" />
  <resultMap id="BaseResultMap" type="com.yc.bean.Shippoint" >
    <id column="spid" property="spid" jdbcType="INTEGER" />
    <result column="spname" property="spname" jdbcType="VARCHAR" />
    <result column="spperson" property="spperson" jdbcType="VARCHAR" />
    <result column="sptel" property="sptel" jdbcType="VARCHAR" />
    <result column="spemail" property="spemail" jdbcType="VARCHAR" />
    <result column="spaddress" property="spaddress" jdbcType="VARCHAR" />
    <result column="spType" property="sptype" jdbcType="INTEGER" />
    <result column="sppersonTel" property="sppersontel" jdbcType="VARCHAR" />
    <result column="spfax" property="spfax" jdbcType="VARCHAR" />
    <result column="sparea" property="sparea" jdbcType="VARCHAR" />
    <result column="spremark" property="spremark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    spid, spname, spperson, sptel, spemail, spaddress, spType, sppersonTel, spfax, sparea, 
    spremark, remark1, remark2, remark3, remark4, remark5
  </sql>
  <!-- 条件查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from shippoint
    where remark5=1
    <if test="spid!=null and spid!=''">
    	and spid=#{spid}
    </if>
    <if test="spname!=null and spname!=''">
    	and spname like '%${spname}'
    </if>
    <if test="spperson!=null and spperson!=''">
    	and spperson like '%${spperson}'
    </if>
    <if test="sptel!=null and sptel!=''">
    	and sptel like '%${sptel}'
    </if>
    <if test="spemail!=null and spemail!=''">
    	and spemail like '%${spemail}'
    </if>
	<if test="spaddress!=null and spaddress!=''">
    	and spaddress like '%${spaddress}'
    </if>
  </select>
  <insert id="insert" parameterType="com.yc.bean.Shippoint" useGeneratedKeys="true" 
  		keyColumn="spid" keyProperty="spid" >
    insert into shippoint (spname, spperson, 
      sptel, spemail, spaddress, 
      spType, sppersonTel, spfax, 
      sparea, spremark, 
      remark5)
    values ( #{spname,jdbcType=VARCHAR}, #{spperson,jdbcType=VARCHAR}, 
      #{sptel,jdbcType=VARCHAR}, #{spemail,jdbcType=VARCHAR}, #{spaddress,jdbcType=VARCHAR}, 
      #{sptype,jdbcType=INTEGER}, #{sppersontel,jdbcType=VARCHAR}, #{spfax,jdbcType=VARCHAR}, 
      #{sparea,jdbcType=VARCHAR}, #{spremark,jdbcType=VARCHAR}, 
      "1")
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Shippoint" >
    update shippoint
    <set >
      <if test="spname != null" >
        spname = #{spname,jdbcType=VARCHAR},
      </if>
      <if test="spperson != null" >
        spperson = #{spperson,jdbcType=VARCHAR},
      </if>
      <if test="sptel != null" >
        sptel = #{sptel,jdbcType=VARCHAR},
      </if>
      <if test="spemail != null" >
        spemail = #{spemail,jdbcType=VARCHAR},
      </if>
      <if test="spaddress != null" >
        spaddress = #{spaddress,jdbcType=VARCHAR},
      </if>
      <if test="sptype != null" >
        spType = #{sptype,jdbcType=INTEGER},
      </if>
      <if test="sppersontel != null" >
        sppersonTel = #{sppersontel,jdbcType=VARCHAR},
      </if>
      <if test="spfax != null" >
        spfax = #{spfax,jdbcType=VARCHAR},
      </if>
      <if test="sparea != null" >
        sparea = #{sparea,jdbcType=VARCHAR},
      </if>
      <if test="spremark != null" >
        spremark = #{spremark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
    </set>
    where spid = #{spid,jdbcType=INTEGER}
  </update>
 
  <!-- 自己写的查询所有的配送点 -->
  <select id="findAllShippoint" resultMap="BaseResultMap">
  	select * from shippoint where remark5=1
  </select>
  <!-- 批量删除多个配送点 -->
  <update id="delmanyShippoint" parameterType="java.util.List">
  	update shippoint set remark5=0 where spid in
  	<foreach collection="list" index="index"  item="item"  open="("  close=")" separator=",">
  	#{item}
  	</foreach>
  </update>
  
</mapper>