<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="users" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Users" >
    <id column="usid" property="usid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="urealName" property="urealname" jdbcType="VARCHAR" />
    <result column="uaddress" property="uaddress" jdbcType="VARCHAR" />
    <result column="uphone" property="uphone" jdbcType="VARCHAR" />
    <result column="utel" property="utel" jdbcType="VARCHAR" />
    <result column="uemail" property="uemail" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="remark5" property="remark5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    usid, uname, urealname, uaddress, uphone, utel, uemail, status, remark1, remark2, 
    remark3, remark4, remark5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    <where>
    	(status=1 or status=0)
    	<if test="usid!=null and usid!=''">
    		and usid=#{usid}
    	</if>
    	<if test="uname!=null and uname!=''">
  			and uname like CONCAT('%',#{uname},'%' )
  		</if>
  		<include refid="pageSql" />
    </where>
  </select>
  
  <select id="selectByPrimaryKeyNoPage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    <where>
    	(status=1 or status=0)
    	<if test="usid!=null and usid!=''">
    		and usid=#{usid}
    	</if>
    	<if test="uname!=null and uname!=''">
  			and uname like CONCAT('%',#{uname},'%' )
  		</if>
    </where>
  </select>
  
  
  
  <!-- 管理员登录 -->
  <select id="loginByPrimaryKey" resultMap="BaseResultMap" parameterType="Users" >
    select 
    *
    from users
    where uname=#{uname} and upwd=#{upwd} and status=1
  </select>
  
  <!-- 删除用户信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    update users set status=0
    where usid in
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
    	#{item}
    </foreach>
  </delete>
  
  <!-- 添加管理员 -->
  <insert id="insert" parameterType="Users" useGeneratedKeys="true" 
 		keyColumn="usid" keyProperty="usid" >
    insert into users ( uname, upwd, 
      urealName, uaddress, uphone, 
      utel, uemail, status)
    values ( #{uname}, #{upwd}, 
      #{urealname}, #{uaddress}, #{uphone}, 
      #{utel}, #{uemail}, 1)
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usid != null" >
        usid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upwd != null" >
        upwd,
      </if>
      <if test="urealname != null" >
        urealName,
      </if>
      <if test="uaddress != null" >
        uaddress,
      </if>
      <if test="uphone != null" >
        uphone,
      </if>
      <if test="utel != null" >
        utel,
      </if>
      <if test="uemail != null" >
        uemail,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
      <if test="remark3 != null" >
        remark3,
      </if>
      <if test="remark4 != null" >
        remark4,
      </if>
      <if test="remark5 != null" >
        remark5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usid != null" >
        #{usid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="urealname != null" >
        #{urealname,jdbcType=VARCHAR},
      </if>
      <if test="uaddress != null" >
        #{uaddress,jdbcType=VARCHAR},
      </if>
      <if test="uphone != null" >
        #{uphone,jdbcType=VARCHAR},
      </if>
      <if test="utel != null" >
        #{utel,jdbcType=VARCHAR},
      </if>
      <if test="uemail != null" >
        #{uemail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        #{remark5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Users" >
    update users
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        upwd = #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="urealname != null" >
        urealName = #{urealname,jdbcType=VARCHAR},
      </if>
      <if test="uaddress != null" >
        uaddress = #{uaddress,jdbcType=VARCHAR},
      </if>
      <if test="uphone != null" >
        uphone = #{uphone,jdbcType=VARCHAR},
      </if>
      <if test="utel != null" >
        utel = #{utel,jdbcType=VARCHAR},
      </if>
      <if test="uemail != null" >
        uemail = #{uemail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        remark3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        remark4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="remark5 != null" >
        remark5 = #{remark5,jdbcType=VARCHAR},
      </if>
    </set>
    where usid = #{usid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Users" >
    update users
    set uname = #{uname,jdbcType=VARCHAR},
      upwd = #{upwd,jdbcType=VARCHAR},
      urealName = #{urealname,jdbcType=VARCHAR},
      uaddress = #{uaddress,jdbcType=VARCHAR},
      uphone = #{uphone,jdbcType=VARCHAR},
      utel = #{utel,jdbcType=VARCHAR},
      uemail = #{uemail,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      remark5 = #{remark5,jdbcType=VARCHAR}
    where usid = #{usid,jdbcType=INTEGER}
  </update>
  
  <!-- 查询所有管理员 -->
	<select id="searchAllAdmin" resultType="Users">
		select usid, uname, urealname, uaddress, uphone, utel, uemail, status, remark1, remark2, 
   		 remark3, remark4, remark5 from users where status=1 or status=0
	</select>
	
	<!-- 需要查询到的字段 -->
  <sql id="Base_Column_List2" >
    usid,uname,urealname,uaddress,uphone,utel,uemail,status
  </sql>
  
  <!-- 分页查询     remark1:表示pageNo  remark2:表示pageSize   因为remake1和ramark2是字符串所以要把它们转为整形 -->
   <sql id="pageSql">
 		<if test="pageNo!=null and pageSize!=null">
 			limit #{pageNo},#{pageSize}
 		</if>
 	</sql>
  
  <!-- 带条件，带分页的查询  -->
 <select id="searchAllUsers" resultMap="BaseResultMap" parameterType="com.yc.bean.Users" >
    select 
    <include refid="Base_Column_List2" />
    from users 
    	<where>
    		(status=2 or status=-1)
    		<if test="usid!=null">
    			and usid=#{usid}
    		</if>
    		<if test="uname!=null and uname!=''">
  				and uname like CONCAT('%',#{uname},'%' )
  			</if>
    	</where>
    	<include refid="pageSql" />
  </select>
  
  <!-- 带条件,不带分页的查询 -->
  <select id="selectDriverNoCondition" resultMap="BaseResultMap">
  	select * from users 
  		<where>
  			(status=2 or status=-1)
  			<if test="usid!=null">
    			and usid=#{usid}
    		</if>
    		<if test="uname!=null and uname!=''">
  				and uname=#{uname}
  			</if>
    	</where>
  </select>
	
	
	<!-- 查询管理员总记录数 -->
	<select id="getTotal" resultType="int">
		select count(usid) total from users where status=1;
	</select>
	
	<!-- 查询用户总记录数 -->
	<select id="getTotal2" resultType="int">
		select count(usid) total from users where status=2;
	</select>
	
	<!-- 添加Users -->
	<insert id="addUsers" parameterType="Users">
		insert into users(uname,upwd,urealname,uaddress,uphone,utel,uemail,status) 
		values(#{uname},#{upwd},#{urealname},#{uaddress},#{uphone},#{utel},#{uemail},1);
	</insert>
	
	
	
	
	
  
</mapper>