<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 读取db.properties文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:db.properties"></property>
	</bean>
	
	<!-- 使用jdbc数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driverName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${uname}" />
		<property name="password" value="${pwd}" />
	</bean>

	<!-- 我们选用的是dao层的mybatis框架,但spring没有提供mybatis的整合的功能,但mybatis自己开发了一个插件，mybatis-spring.xxx.jar -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 在这个springSessionFactory中,主要完成读取mybatis的配置文件的工作 -->
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置configLocation:mybatis的配置文件路径,SQLSessionFactory会完成读取这个配置文件 -->
		<!-- <property name="configLocation" value="classpath:mybatis-cnfig.xml" /> -->
		
		<!-- 如果不读取mybatis-config.xml文件，那typeAliases,mapper的配置都要单独配置 -->
		<property name="typeAliasesPackage" value="com/yc/bean" />
		<property name="mapperLocations" value="classpath:com/yc/bean/*.xml" />
	</bean>

	<!-- mybatis sqlSession -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager" />
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	
	<!-- 内部资源视图解析器,转发方式跳转到另一个界面  -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
</beans>